@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(51, 48, 48)
}

.container-buttons {
    margin: 30px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000000; 
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out; 
    width: 110px;
}

button:hover {
    opacity: .8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;

}

img {
    width: 100%;
    border-radius: 5px;
    
}

p {
    color: #fff;
}

li {
    border : 2px solid #8133ff;
    border-radius: 5px;
    padding: 3px;
}


.item-price {
    font-weight: bold;
    color: #79cb15

}



.links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}

.social-media:hover {
    opacity: .8;
}

.social-media:active {
    opacity: .4;
}

.social-media {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
   

}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 90px;
}

.develop {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}